body {
  background-color: #c8ffd0;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 130px; 
}

.Barra {
  width: 100%;
  background: radial-gradient(circle, #6b46c1, #9975ec, #2d0d76);
  border-bottom: 4px solid #2d1b69;
  box-shadow: 0 4px 0 #393939;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.Barra ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 6rem;
  margin: 0;
  padding: 0;
}

.Barra ul li a {
  font-family: 'Bangers', cursive;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 15px;
  border: 4px solid #000;
  transition: all 0.3s ease;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.8rem 1.5rem;
  display: inline-block;
  background-color: #583a9c;
}

.Barra ul li a:hover {
  background-color: white;
  color: #583a9c;
  border-color: #000;
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.Barra ul li a.solo-imagen {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  display: inline-block;
}

.Barra ul li a.solo-imagen img {
  display: block;
  box-shadow: none;
  background: none;
  transition: transform 0.3s ease;
}

.Barra ul li a.solo-imagen img {
  display: block;
  transition: transform 0.3s ease;
}

.Barra ul li a.solo-imagen:hover img {
  transform: scale(1.1);
}

.Barra ul li a.solo-imagen:hover img {
  transform: scale(1.1);
}

.Titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.contenedor{
  display: flex;
  width: 100%;
  padding: 4rem;
  box-sizing: border-box;
}

.Contactos{
    width: 50%;
    padding: 2rem;
    border-radius: 15px;
    background-color: #9975ec;
}

.Contactos ul{
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 6rem;
  margin: 0;
  padding: 0;
}

footer{
  font-family: 'Baloo 2', cursive;
  text-align: center;
}