body {
  background-color: #FFF7D5;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; 
}

.barra-violeta {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw; 
  height: 100vh;
  background-color: #A678F2; /* o el violeta que prefieras */
  z-index: 0;
}

header {
  background-color: blanchedalmond;
  width: 100%;
  display: flex;
  z-index: 1  ;
  position: relative;
  padding: 2rem 0;
}

header img {
  transition: transform 0.3s;
}

header img:hover {
 transform: scale(1.2)
}
